 .card-box{
 	padding-right: 15px;
 	padding-bottom: 15px;
 }
 .search-btn{
  cursor: pointer;
 }
 .search-btn:hover{
   color: #409EFF;
 }
 .items{
   padding:15px;
   cursor: pointer;
   font-size:14px;
 }
 .items:hover{
   background: #f4f4f5;
 }
